.caja-rotulacion-vehicular{
    background-color: burlywood;
    width: 500px;
    border: 5px rgb(233, 198, 139) solid;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    overflow: auto;
    text-align: center;
}
.caja-carteleria{
    background-color: cadetblue;
    width: 500px;
    border: 5px rgb(56, 165, 154) solid;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    overflow: auto;
    text-align: center;
    padding: 10px;
    
}


.texto-mensaje{
    font-family: Montserrat;
}
.texto-formulario{
    margin: 10px;
}
.cajas-inicio{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.imagen-carteleria{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.boton-vermas{
    background-color: rgb(255, 255, 255);
    color: rgb(1, 33, 61);
    font-family: Montserrat;
    margin-top: 10px;
}

.caja-coporeas{
    background-color: rgb(148, 95, 160);
    width: 500px;
    border: 5px #8a5186 solid;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    overflow: auto;
    text-align: center;
    padding: 10px;
}
.tarejetas-horizontales1{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.tarjeta-banner{
    background-color: rgb(119, 160, 95);
    width: 780px;
    border: 5px #69985b solid;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    overflow: auto;
    text-align: center;
    padding: 10px;
}
.tarjeta-banderas{
    background-color: rgb(116, 213, 207);
    width: 780px;
    border: 5px #72c7c9 solid;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    overflow: auto;
    text-align: center;
    padding: 10px;
}

.imagen-banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.tarejetas-horizontales2{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.tarjeta-publicidad{
    background-color: rgb(213, 182, 116);
    width: 780px;
    border: 5px #c9af49 solid;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    overflow: auto;
    text-align: center;
    padding: 10px;
}
.tarjeta-stand{
    background-color: rgb(236, 85, 85);
    width: 780px;
    border: 5px #d93c3c solid;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    overflow: auto;
    text-align: center;
    padding: 10px;
}

.tarjeta-texto{
    color: black;
    font-family: Montserrat; 
    text-align: justify;
    font-size: 12px;
}
.tajeta-pulicidad{
    color: rgb(59, 101, 55);
    font-family: Montserrat; 
    text-align: center;
}
.tarjeta-banners{
    color: rgb(23, 69, 6);
    font-family: Montserrat; 
    text-align: center;
}
.tarjeta-banderas{
    color: rgb(107, 125, 190);
    font-family: Montserrat; 
    text-align: center;
}
.tajeta-stad{
    color: rgb(68, 5, 5);
    font-family: Montserrat; 
    text-align: center;
}

@media(max-width: 992px){
    .cajas-inicio{
        width: 100%;
        padding: 5px;
    }
}