.trabajo-1{
    color: rgb(9, 140, 180);
    font-family: Montserrat; 
    text-align: center;
}
.trabajo-2{
    color: rgb(247, 179, 116);
    font-family: Montserrat; 
    text-align: center;
}
.trabajo-3{
    color: rgb(247, 184, 116);
    font-family: Montserrat; 
    text-align: center;
}
.texto-descripcion{
    color: black;
    font-family: Montserrat; 
    text-align: justify;
    font-size: 12px;
}
.texto-informativo{
    color: black;
    font-family: Montserrat; 
    text-align: justify;
    font-size: 15px;
}