.video-ploteo{
    width: 700px;
    height: 500px;
    object-fit: cover;
    margin: auto;

}
.parrafo-video{
    color: cadetblue;
    font-family: Montserrat;
    text-align: justify;
    font-size: 12px;
}